@using travelproject.Models.Classes
@model travelproject.Models.MyIndexViewModel

<style>
/* Genel kart ayarları */
.col-md-4 {
    margin-top: 2rem;
}

.card {
    height: 550px; /* Kartların hepsi aynı yükseklikte */
    display: flex;
    flex-direction: column;
}

.card-img-top {
    width: 100%;
    height: 300px;   /* Tüm resimler aynı yüksekliğe sahip */
    object-fit: cover; /* Taşma olmasın, kırpılarak uysun */
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.card-body {
    flex: 1; /* Kartın alt kısmı eşit yükseklikte kalsın */
    display: flex;
    flex-direction: column;
}

.card-title {
    color: #580406;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.card-text {
    flex: 1; /* Açıklama kısmı kartın kalan alanını kaplasın */
    font-size: 1rem;
    margin-bottom: 1rem;
}

.btn-danger {
    background-color: #751344;
    border-color: #751344;
    color: #fff;
}

.btn-danger:hover {
    background-color: #580406;
    border-color:  hsl(359, 91%, 18%);
}
</style>

<div class="container mt-4">
    
  <div class="row">
 @foreach(var x in Model.LastThreeBlogs){   
    <!-- Balkan Tour -->
    <div class="col-md-4">
      <div class="card shadow-sm">
        <img src="@x.BlogImage" class="card-img-top" alt="Balkan Tour">
        <div class="card-body">
          <h5 class="card-title text-danger">@x.Title</h5>
          <h6>@x.Date.ToString("dd.MM.yyyy")</h6>
          <p class="card-text">
            @x.Explanation.Substring(0,250)
          
          </p>
          <a href="#" class="btn btn-danger">Read More >></a>
        </div>
      </div>
    </div>
}
    
  

  

  </div>
</div>